/**
* Accordeon
*/
:root {
    --open-size: min(30Vw, 300px);
    --focus-color: #0000; 
}

.accordeon {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: min-content;
    margin: auto;
}

details [open] {
    display:flex;
    color: white;
    height: 30rem;
    position: relative;
    z-index: 1;

    ::marker{
        content:""
    }
    
    summary{
        width: 5rem;
        img{
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }
    }
    &[open]{
     summary{
        image{
            filter: brightness(0.5);

        }
     }
    }
}
